# ClickHouse
CH_HOST=localhost
CH_HTTP_PORT=8123
CH_NATIVE_PORT=9000
CH_USER=default
CH_PASSWORD=
CH_DATABASE=astock

# Tushare Pro
TUSHARE_TOKEN=
TUSHARE_API_URL=http://api.tushare.pro

# AKShare Proxy Patch
AKSHARE_PROXY_HOST=
AKSHARE_PROXY_TOKEN=
AKSHARE_PROXY_RETRY=30
